.container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #777777;
}

.textbox {
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #f4f2fb;
  min-width: 315px;
  padding: 4px 8px;
  height: 40px;
  font-size: 16px;
}

.inlineError {
  font-size: 13;
  color: red;
}
